# Configurações do PostgreSQL
DB_USER=YOUR_POSTGRES_USER
DB_NAME=YOUR_DATABASE_NAME
DB_HOST=YOUR_DATABASE_HOST
DB_PORT=YOUR_DATABASE_PORT
DB_PASSWORD=YOUR_PASSWORD
DB_ECHO=True

# Configurações de E-mail
EMAIL_SENDER=YOUR_EMAIL@example.com
EMAIL_SERVER_HOST=YOUR_SENDER.stmp.io
EMAIL_SERVER_PORT=512
EMAIL_PASSWORD=foo_bar
EMAIL_USERNAME=baz_foo

# Configurações do Back-end
HOST_DOMAIN=localhost
SECRET_KEY=type_your_secret_key_here
SECURE_COOKIES=False
