DB_URL=postgresql+asyncpg://postgres:SECRET_PASSWORD@localhost:5432/leiturece
DB_ECHO=True

EMAIL_SENDER=test@example.com
EMAIL_SERVER_HOST=teste.stmp.io
EMAIL_SERVER_PORT=512
EMAIL_PASSWORD=foo_bar
EMAIL_USERNAME=baz_foo

BACKEND_DOMAIN=localhost:8080
